export(create_cluster_mapping_from_seurat)
export(generate_and_export_heatmaps)
export(generate_factor_networks)
export(load_and_map_factors)
export(perform_communication_analysis)
export(prepare_data)
export(process_and_create_tensor)
export(process_ligand_receptor_factors)
export(TrokaChat_folder_structure)
export(TrokaChat.DEG)
export(TrokaChat.DEG.nulldist)
export(update_chembl_to_drug_names)
export(update_mondo_to_disease_names)

